:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
}

body{
    margin: 0;
    font-weight: 400;
    position: relative;
}
header {
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
header::after{
    content: ' ';
    display: table;
    clear: both;
}
.header-container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.logo{
    left: 0;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

nav li a {
    text-decoration: none;
    color: #444;
}
nav li a:hover {
    color: #000;
}

nav li a:before{
    content: '';
    width: 0%;
    height: 5px;
    display: block;
    position: absolute;
    background-color: #960105;
    border-radius: 5px;
    top: 0;
    transition: all ease-in-out 200ms;
}

.dropdown-content li a:before{
    top: auto;
    bottom: 0;
}

nav li a:hover:before{
    width: 100%;
}


.dropdown-content{
    display: none;
    padding-top: -10px;
    padding-bottom: 5px;
    margin-top: 20px;
    position: absolute;
    min-width: 200px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    transition: all 250ms ease-in-out;
}
.dropdown-content li {
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.searchinp{
    margin: 0;
    padding-top: 6px;
    font-size: inherit;
    font-family: overpass;
    font-size: 17px;
    border: none;
}
.searchform button {
    margin: 0;
    background: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 6px;
}

/* Slide show */
.slideshow-container {
    /* background-color: #04304A; */
    background-color: #fff;
    /* overflow: hidden; */
}
.slideshow {
    width: 50%;
    height: 390px;
    /* background-color: #abc; */
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    color: #04304A;
    /* border: 1px solid black; */
}

.slides {
    display: none;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slide-image {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    transition: transform 1s ease;
}
.slide-image:hover {
    transform: scale(1.1);
}
.slide-cycle {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    font-size: 24px;
    transition: all ease-in-out 0.6s;
    user-select: none;
    margin-top: -22px;
    padding: 16px;
}
.slide-cycle:hover{
    background-color: #11659688;
}
.slide-next {
    right: 0;
}
.slide-prev {
    left: 0;
}
.slide-indicator {
    position: absolute;
    list-style: none;
    left: 50%;
    bottom: 0px;
}
.slide-indicator ul {
    position: relative;
    padding: 0;
    left: -50%;
    margin: 0;
}
.slide-indicator li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #04304A11;
    border-radius: 5px;
    height: 5px;
    position: relative;
    width: 100px;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: border-color 0.5s ease-out;
}
.slide-indicator li a {
    background-color: #04304A;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    width: 0%;
    margin: 0;
    display: block;
    top: 0;
    height: 5px;
}
@keyframes indicator-progress {
    0% {width: 0%;}
    100% {width: 100%;}
}
.slide-indicator .active a {
    animation: indicator-progress 3s linear;
}
.slide-indicator .active {
    border-color: #04304A;
}

/* our services */
.title-separator {
    padding: 48px;
    padding-bottom: 0;
    text-align: center;
    margin: auto;
    font-size: 0.95rem;
    font-family: "Merriweather";
}

.titlefa {
    color: rgb(150,1,5);
}

.title-separator ul {
    list-style: none;
    margin: 0;
}
.title-separator ul li {
    display: inline-block;
    width: 100px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    /* padding-bottom: 40px; */
    margin: 0;
}

.title-separator ul li.active {
    border-left: 1px solid grey;
    border-right: 1px  solid grey;
    /* box-shadow: 0px -2px 5px -2px rgb(150,1,5); */
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid rgb(150, 1, 5);
    background-color: #96941110;
}
.info {
    /* position: relative; */
    width: 90%;
    top: 0;
    margin: 0 auto;
    /* margin-top: -16px; */
    text-align: center;
    list-style: none;
    background-color: #96941110;
    transition: all 0.3s ease-in-out;
    font-size: 0.9rem;
}

.info .container ul {
    position: relative;
    margin: 0;
    padding: 0;
    /* left: -50%; */
}

.info ul li {
    display: inline-block;
    margin: 10px;
}
.infocard {
    height: 400px;
    width: 400px;
    cursor: pointer;
    border-radius: 0px 0px 2px 2px;
    /* border: 2px solid black; */
    /* background-color: #969411; */
}

.infocard:hover {
    box-shadow: 0px 2px 10px 0px #4A080A;
}
.infocard:hover .info-content h2 a {
    color: #960105;
    font-size: 1.5rem;
}

.infocard .img-container {
    height: 233p    x;
    width: 400px;
    overflow: hidden;
}
.infocard .img-container img {
    width: 400px;
    /* height: 267px; */
    transition: transform 1s ease;
}

.infocard .img-container img:hover {
    transform: scale(1.1);
}

.infocard section {
    text-align: left;
    padding: 10px;
}

.info-content h2 a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #116596;
    transition: all 1s ease;
}



/* Slider */
.slide{
    height: 60px;
    width: 100px;
}
.container{
    width: 30%;
}
.slick-slide {
    margin: 0px 20px;
    vertical-align: middle;
}

.logo-carousel {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    vertical-align: middle;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
}

.slick-track::after {
    clear: both;
}

.slick-track {
    padding: 1rem 0;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
}

.slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
}

.slick-arrow.slick-prev {
    left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
    .slick-arrow {
        width: 1rem;
        height: 1rem;
    }
}

.row {
    overflow: hidden;
}


/* Footer */
footer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}
footer div {
    display: inline-block;
}
.logo-container {
    width: 25%;
    margin: 0;
    padding: 30px;
    position: relative;
    /* box-shadow: 0px 0px 2px 2px #000; */
    /* border: 1px solid black; */
}
.contacts-container {
    width: 70%;
    /* border: 1px solid blue; */
    text-align: center;
    background-color: #fff;
    color: #04304A;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 0.8rem;
    box-shadow: 0px 0px 2px 1px #4A080A;
}
.main-office {
    left: 0;
    text-align: left;
    border-right: 1px solid #4A080A;
    margin: 0 auto;
    padding: 0;
    margin-top: 5px;
    padding-left: 20px;
    vertical-align: middle;
    width: 400px;
    height: 200px;
}
.main-office p {
    font-weight: bold;
    font-size: 1.1rem;
}
.contact p, .address p {
    font-size: 0.9rem;
    color: #000;
}
.contact, .address {
    width: 190px;
}
.branch-office{
    text-align: left;
    right: 0;
    margin: 0 auto;
    border-left: 1px solid #4A080A;
    vertical-align: middle;
    margin-top: 5px;
    padding-left: 30px;
    height: 200px;
}
.branch-office p {
    font-weight: bold;
    font-size: 1.1rem;
}
.dhaka p, .rajshahi p {
    font-size: 0.9rem;
    color: #000;
}
.dhaka {
    margin-right: 40px;
}
